.open_seat {
    position: relative;
    width: 34px;
    height: 36px;
    
    background: #D9D9D9;
    border-width: 0px 2px 2px 2px;
    border-style: solid;
    border-color: #A38989;

    margin-top: 10;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    
}

.selected_seat {
    width: 34px;
    height: 36px;
    
    background: #10d059;
    border-width: 0px 2px 2px 2px;
    border-style: solid;
    border-color: #A38989;

    margin-top: 10;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.unavailable_seat {
    width: 34px;
    height: 36px;
    
    background: #d50d0d;
    border-width: 0px 2px 2px 2px;
    border-style: solid;
    border-color: #A38989;

    margin-top: 10;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.column {
    float: left;
    padding: 10px;
}

.column.theater {
    background-color: bisque;
    width: 55%;
    margin-left: 10%;
    padding-bottom: 11%;
}

.column.booking {
    background-color: rgb(222, 238, 238);
    width: 25%;
    margin-right: 10%;
}

.row.first {
    /* margin-left: 32.5% */
}

.row.second {
    margin-left: -14.3%;
}

.row.third {
    margin-left: -25.9%;
}

.seats {
    position: relative;
    margin-left: 32.5%;
    /* padding-left: 10%; */
}

.showtimes {
    padding-bottom: 25%;

}

.showtimes .child {
    margin: 3px;
}

.ticketSelection {
}

.ticketType {
    padding: 2.8px;
}

#movie_screen {
    width: 500px;
    height: 25px;
    background: white;
    /* margin-right: cm; */
    /* margin-right: 20px; */
    margin-left: 6.5%;
    margin-bottom: 2%;
    text-align: center;
}

.btn.proceedToPayment {
    width: 100%;
}
